<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    ">
    
    <context:component-scan base-package="com.walbrix.oscar"/>
	<aop:config proxy-target-class="true"/>
	<tx:annotation-driven/>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource"/>
	</bean>
  	<beans profile="prod">
		<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/oscar"/>
	</beans>

	<beans profile="dev">
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>file:settings.xml</value>
					<value>file:settings-${user.name}.xml</value>
				</list>
			</property>
			<property name="ignoreResourceNotFound" value="true" />
		</bean>
		<bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
			<property name="useUnicode" value="true"/>
			<property name="characterEncoding" value="UTF8"/>
			<property name="zeroDateTimeBehavior" value="convertToNull"/>
			<property name="url" value="jdbc:mysql://${dbhost}/${dbname}"/>
			<property name="user" value="${dbuser}"/>
			<property name="password" value="${dbpassword}"/>
		</bean>
	</beans>
</beans>
